@charset "UTF-8";
/*! --------------------------------------------------------------------------
             FILE: main.scss
      DESCRIPTION: Main stylesheet
           AUTHOR: Zoltán Király <zoliky@gmail.com>
----------------------------------------------------------------------------*/
:root {
  font-size: 1em;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #746e76;
  background: #f6f2e7;
}

p {
  line-height: 1.4;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 3rem;
}

img {
  max-width: 100%;
  border-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-inner {
  flex-grow: 1;
}

.intro {
  max-width: 900px;
  margin: 0 auto;
}
.intro p {
  line-height: 1.4;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: acumin-pro, sans-serif;
}

.screen-readers {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.flex-container p {
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: acumin-pro, sans-serif;
}

.col-left {
  flex: 40%;
}

.col-right {
  flex: 30%;
  padding-top: 30px;
  padding-left: 40px;
}

.spacer {
  margin-top: 200px;
}

.header {
  position: fixed;
  top: 0;
  height: 140px;
  width: 100%;
  z-index: 100;
  background: #921801;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: top 0.3s linear 0s;
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 60px;
  height: 50px;
}

.menu-toggle {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger, .hamburger::before, .hamburger::after {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 0.5626em;
  transition: all 0.4s ease-in-out;
}
.hamburger::before, .hamburger::after {
  position: absolute;
  content: "";
}
.hamburger::before {
  top: -8px;
}
.hamburger::after {
  top: 8px;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 100%;
  background: #921801;
  overflow: hidden;
}

.nav-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-menu li + li {
  margin-top: 0;
  border-top: 1px solid #fff;
}
.nav-menu li > a {
  display: block;
  font-size: 1.2rem;
  padding: 0.8em 0.5em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 52em) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    position: initial;
    height: auto !important;
    overflow: initial;
  }

  .nav-menu {
    display: flex;
  }
  .nav-menu li > a {
    color: #fff;
    border-bottom: 4px solid #F29F05;
  }
  .nav-menu li + li {
    border-top: initial;
    margin-left: 0.5em;
  }
}
.footer {
  background: #921801;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.social li + li {
  margin-left: 0.8em;
}
.social li > a {
  display: block;
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
