.gallery-container {
  max-width: 1000px;
  margin: 0 auto;
}

.my-gallery {
  width: 100%;
  display: block;
  margin: 0 auto;
}

figure {
  display: inline-block;
  margin: 0 .5em;
  // width: 138px;
  width: auto;

  img {
    display: block;
    box-shadow: 2px 2px 3px rgba(0,0,0,.4);
  }
}

@media (min-width : 30em) {
  .my-gallery {
    column-count: 1;
    column-gap: 3px;
  }
}

@media (min-width : 48em) {
  .my-gallery {
    column-count: 1;
    column-gap: 1px;
  }
}

@media (min-width : 62em) {
  .my-gallery {
    column-count: 1;
    column-gap: 1px;
  }
}

@media (min-width : 75em) {
  .my-gallery {
    column-count: 1;
    column-gap: 1rem;
    // width: 100%;
  }
}