$header-bg: #921801;
$menu-item-color: #fff;

.header {
  position: relative;
  top: 0;
  height: 140px;
  background: $header-bg;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid lightgreen;
}

.logo {
  // border: 1px solid lightgreen;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  img {
    width: 60px;
    height: 50px;
  }
}

// Hamburger
.menu-toggle {
  // border: 1px solid lightgreen;
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &,
  &::before,
  &::after {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 0.5626em;
    transition: all .4s ease-in-out;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #921801;
  overflow: hidden;
}

.nav-menu {
  // border: 1px solid lightgreen;
  list-style: none;
  padding-left: 0;
  margin: 0;

  li + li {
    margin-top: 0;
    border-top: 1px solid #fff;
  }

  li > a {
    display: block;
    font-size: 1.2rem;
    padding: .8em .5em;
    text-transform: uppercase;
    color: $menu-item-color;
  }
}

@media (min-width: 52em) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    position: initial;
    height: auto !important;
    overflow: initial;
  }

  .nav-menu {
    display: flex;

    li > a {
      color: #fff;
    }

    li + li {
      border-top: initial;
      margin-left: .5em;
    }
  }
}