// Copyright 2021 Zoltán Király. All rights reserved.

@charset "UTF-8";

/*! --------------------------------------------------------------------------
             FILE: main.scss
      DESCRIPTION: Main stylesheet
           AUTHOR: Zoltán Király <zoliky@gmail.com>
----------------------------------------------------------------------------*/

// General
@import "general.scss";

// Partials
@import "navbar.scss";
@import "films.scss";
@import "snowman.scss";
@import "gallery.scss";
@import "contact.scss";
@import "footer.scss";